{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
{% endblock header %} 

{% block content %}
<div class ="main">
    <div class="detail-title">
        <h2>喫煙所名:{{ object.name }}</h2>
    </div>
    <div class="map">
        <iframe src="https://maps.google.com/maps?output=embed&q={{ object.address }}&t=m&hl=ja&z=18" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <div class="detail">
        <ul>
            <li>・利用可能時間:{{ object.start_usage_time }} ~ {{ object.end_usage_time }}</li>
            <li>・利用上の注意:{{ object.attention }}</li>
        </ul>
    </div>
    <div class="return">
        <a href="{% url 'top' %}">トップページへ</a>
    </div>
</div>    
{% endblock content %}
