{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
{% endblock header %} 

{% block content %}
    <section class="container">
        <!-- title -->
    <header>
        <!-- list -->
        <div class="title">
            <h1>喫煙所検索サイト</h1>
        </div>
    </header>

        <div class="smal-title">
            <p>Smoking Area</p>
        </div>

        <div class="main-contents">
            <div class="list">
                <ul>
                    <li><a href="#">・三鷹駅北口</a></li>
                    <li><a href="#">・三鷹駅南口</a></li>
                    <li><a href="#">・三鷹駅付近喫煙可能店舗</a></li>
                </ul>
            </div>
            <div class="subcontents">
                <p>マナーを守って</p>
                <p>他人に迷惑をかけず</p>
                <p>喫煙を</p>
            </div>
        </div>
    </section>
{% endblock content %}
