{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
{% endblock header %} 

{% block content %}
    <section class="container">
        <!-- title -->

        <!-- list -->
        <div class="title">
            <h1>喫煙所検索サイト</h1>
        </div>

        <div class="list">
            <ul>
                <li>三鷹駅北口</li>
                <li>三鷹駅南口</li>
                <li>三鷹駅付近喫煙可能店舗</li>
            </ul>
        </div>
        <div class="poem">
            <p>マナーを守って</p>
            <p>他人に迷惑をかけず</p>
            <p>喫煙を</p>
        </div>
    </section>
{% endblock content %}
