{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="https://kit.fontawesome.com/6f00bc3472.js" crossorigin="anonymous"></script>
<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
{% endblock header %} 

{% block content %}
    <section class="container">
        <!-- title -->
    <header>
        <!-- list -->
        <div class="title">
            <h1>喫煙所検索サイト</h1>
        </div>
    </header>

    <div class="search">
        <form method="GET" action="{% url 'top' %}">
            <input type="text" name="keyword">
            <button type="submit">検索</button>
        </form>
    </div>

    <div class ="top-wrapper">
        <div class="smal-title">
            <p>Smoking Area</p>
        </div>

        <div class="main-contents">
            <div class="list">
                <ul>
                    {% for item in smoking_area_list %}
                        <li><i class="fas fa-smoking"></i>
                            <a href="{% url 'detail' item.pk %}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <img src="{% static 'image.png' %}" alt="格言" width=300>
        </div>
    </div>    
    </section>
{% endblock content %}
