{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
{% endblock header %} 

{% block content %}
<main>
    <div class="warning">
        <h1>警告</h1>
        <p>未成年喫煙は法律で禁止されています。</p>
        <p>喫煙は２０歳になってからにしましょう。</p>
    </div>

    <div class="warning-image">
        <img src="{% static 'warning.jpg' %}" alt="注意" width=400>
    </div>
    
        <a class ="jamp" href="https://www.mhlw.go.jp/">法律サイトへ</a>
        <a class="jamp-2" href="https://www.youtube.com/watch?v=OSWSJhhLO2E">未成年者喫煙防止教育動画へ</a>
</main>
{% endblock content %}
